<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{% block title %}ASCII Art Converter{% endblock %}</title>
        <!-- Website Icon from "flaticon.com" -->
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3516/3516640.png">
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <header class="greeting">
            <h1>{% block header %}Welcome to my Ascii art gallery{% endblock %}</h1>
            <h4>Here you'll find a gallery of Pictures made up of Ascii Art
                <br> as well as a converter to turn any image you want into Ascii Art.</h4>
        </header>

        <!-- Gallery of Ascii Art Pictures -->
        <div class="container-gallery">
            {% block content %}{% endblock %}
        </div>

    </body>

</html>
